.bg_primary {
  background-color: #4caf50;
}

.MuiTabs-flexContainerVertical {
  .MuiTab-root {
    min-height: 48px;
    width: 100%;
    justify-content: flex-start;
    text-transform: none;
    font-size: 1rem;
    padding: 10px 45px 10px 25px;

    &.Mui-selected {
      background-color: #fff;
      border-radius: 10px 0 0 10px;
      border-color: #fff;
    }
  }

  & + .MuiTabs-indicator {
    display: none;
  }
}

MuiList-root {
  .MuiButtonBase-root {
    width: 100%;
    display: block !important;
    padding: 5px !important;
    text-align: left;
  }
}

.MuiInputBase-adornedEnd {
  .MuiInputBase-input {
    padding: 8px 0 8px 14px;
  }
}

.MuiButton-containedPrimary {
  &.bottomBtn {
    box-shadow: none;
    text-transform: none;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.16px;
    color: #fff;
    background-color: #4caf50;
    padding: 8px 50px;
  }

  &.topBtn {
    box-shadow: none;
    text-transform: none;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.16px;
    color: #fff;
    background-color: #4caf50;
    padding: 8px 10px;
    line-height: 18px;
    border-radius: 16px;
  }
}
